/* Reset default styles */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    background-color: #222831; /* Dark, futuristic background */
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    top: 1rem; /* Position from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for exact centering */
    width: 80%; /* Set a width for the navbar */
    max-width: 1200px; /* Max width for larger screens */
    z-index: 100;
    font-family: 'Arial', sans-serif;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow */
    transition: background-color 0.3s ease;
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
}
.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(90deg, #00adb5, #393e46);
    opacity: 0.1;
    filter: blur(10px);
    z-index: -1;
}

/* Logo Styles */
.logo {
    font-size: 1.5rem;
    font-weight: 300;
    color: #00adb5; /* Cyan logo color */
    text-decoration: none;
    white-space: nowrap;
    margin-right: 2rem;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    padding: 0;
    white-space: nowrap;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    position: relative;
}

.nav-links a:hover {
    color: #00adb5;
    transform: translateY(-3px);
    background-color: rgba(0, 173, 181, 0.1);
}

.nav-links a.active {
    color: #00adb5;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00adb5;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}
